@charset "utf-8";

<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">
.nanumsquare {
    font-family: 'NanumSquare', sans-serif !important;
}


body{
	background-color: #e7e1ff;
	font-family: 'NanumSquare';
}

#titleBox h2{
color:#7651ff;
text-align: center;
padding-top:20px;
padding-bottom: 10px;
font-size: 2em;

}
		

.contentBox1{

background-color: #0e0043;
width:100%;
height:500px;


}

.contentBox1 img{
	display: block;
	width:auto;
	height:500px;
	margin: 0 auto;

}



a{ text-decoration: none; }

.contentBox1 p{
display: none;
position:absolute;
color:#fff;
font-size: 2.5em;
display: block;
padding-bottom:550px; 
left:50%;
transform: translate(-50%, -50%);                                                                   
z-index: 2;
text-align: center;
text-shadow: 3px 3px 3px rgba(0,0,0, .5);

}



.icn{
margin-top: 50px;
width:100px;
height:100px;
background-color: #4020b9;
bottom:50px;
right:50px;
position: fixed;
border-radius: 50%;
box-shadow: 5px 5px 5px rgba(0,0,0, .5);
}

.icn p{
color:#fff;
text-align: center;
font-weight: bold;
padding-top: 15px;
font-size:1.5em;
}

.icn2{
margin-top: 50px;
width:80px;
height:80px;
background-color: #fff;
bottom:180px;
right:60px;
position: fixed;
border-radius: 50%;
box-shadow: 3px 3px 3px rgba(0,0,0, .5);
}

.icn2 p{
color:#000;
text-align: center;
font-weight: bold;
padding-top: 15px;
font-size:1em;
}


#profile{
width:100%;
height:1000px;
}

#profile img{
width:auto;
height:300px;
top: 200px;
bottom:200px;
left: 500px;
margin: 0 auto;
display: block;
padding-top: 100px;
}

#profile img:hover{
opacity: .5;
}

#profile .introduce{
text-align: center;	
color:#2e0ab6;
padding-top: 150px;
font-size: 1.5em;
font-weight: bold;
}

#profile h3{
text-align: center;
color:#7651ff;
font-size: 1.5em;
padding-top: 20px;
}
	

/* 텍스트 애니메이션 */
.introduce {
  overflow: hidden; 
  
  white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing: .15em; 
  animation: 
    typing 5s steps(40, end),
    blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* 텍스트 애니메이션 2 */

.contentBox1 p {
  overflow: hidden; /* Ensures the content is not revealed until the animation */

  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}